.App {
  text-align: center;
  background-color: var(--backgroundColor);
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas: 'top-left top-center top-right' 'middle-left middle-center middle-right' 'bottom-left bottom-center bottom-right';
}
