.App {
  text-align: center;
  height: 100%;
  background-color: #9d695a;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-areas: 'Player0Start Board Player1Start';
}

.player1Start {
  grid-area: Player1Start;
}

.player0Start {
  grid-area: Player0Start;
}
