.App {
  text-align: center;
  background-color: var(--backgroundColor);
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas: 'top-left top-center top-right' 'middle-left middle-center middle-right' 'bottom-left bottom-center bottom-right';
}

button {
  border: none;
  outline: none;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--tileColor0);
  position: relative;
  z-index: 1;
}

button::before {
  content: '';
  position: absolute;
  border-radius: 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: var(--tileColor1);
  transform: scaleX(0);
  //transform-origin: left;
  transition: transform 300ms ease-in-out;
}

button:hover::before {
  transform: scaleX(1);
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
