@use './styles/Board.scss';
@use './styles/Game.scss';
@use './styles/LandingPage.scss';
@use './styles/LeaveButton.scss';
@use './styles/NotificationPanel.scss';
@use './styles/PlayerScore.scss';
@use './styles/PlayerStart.scss';
@use './styles/PlayerWins.scss';
@use './styles/Tile.scss';
@use './styles/Token.scss';
@use './styles/WaitingRoom.scss';
:root {
  font-size: 16px;
  // COLOR VARS
  --tileColor0: #78e0dc;
  --tileColor1: #d496a7;
  --rosetteColor: #ffd166;
  --player0Color: #ffffff;
  --player1Color: #302f31;
  --backgroundColor: #9d695a;
  --activePlayerColor: #d496a7;
}
@font-face {
  font-family: 'Share Tech Mono';
  src: URL('./fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf')
    format('truetype');
}
#root {
  height: 100%;
}
html {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Share Tech Mono';
  height: 100%;
  overflow: auto;
  background-color: var(--backgroundColor);
}

button {
  font-family: 'Share Tech Mono';
}
