.Game {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: auto;
  grid-template-areas: '. game-phase .' 'Player0Start Board Player1Start' 'player0score buttons player1score';
  height: 100%;
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.button {
  border-radius: 20%/50%;
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #78e0dc;
  font-size: 1rem;
}

.button:active {
  transform: translateY(4px);
}

.invisible {
  display: none;
}
