.playerScore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player0Score {
  @extend .playerScore;
  grid-area: player0score;
}

.player1Score {
  @extend .playerScore;
  grid-area: player1score;
}

.active {
  padding: 10%;
  border-radius: 50%;
  background-color: #d496a7;
}
