.playerStart {
  //padding: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.player1Start {
  @extend .playerStart;
  grid-area: middle-right;
}

.player0Start {
  @extend .playerStart;
  grid-area: middle-left;
}
