$tileColor0: #78e0dc;
$tileColor1: #d496a7;
$rosetteColor: #ffd166;

.tile {
  border-radius: 20%;
  filter: drop-shadow(13px 11px 1px rgba(0, 0, 0, 0.25));
}

.tile:hover {
  animation: tileHover 0.5s ease-in-out infinite alternate;
}

@keyframes tileHover {
  100% {
    transform: translateY(-10%);
    filter: drop-shadow(17px 14px 3px rgba(0, 0, 0, 0.25));
  }
}

.tile-style-0 {
  @extend .tile;
  background-color: $tileColor0;
}

.tile-style-1 {
  @extend .tile;
  background-color: $tileColor1;
}
.rosette {
  @extend .tile;
  background-color: $rosetteColor;
  border-radius: 0%;
}

.goal {
  @extend .tile;
  visibility: hidden;
}
