.playerScore {
  @extends .centering;
}

.player0Score {
  @extend .playerScore;
  grid-area: bottom-left;
}

.player1Score {
  @extend .playerScore;
  grid-area: bottom-right;
}

.active {
  padding: 10%;
  border-radius: 8rem;
  background-color: var(--activePlayerColor);
}
