.playerScore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player0Score {
  @extend .playerScore;
  grid-area: bottom-left;
}

.player1Score {
  @extend .playerScore;
  grid-area: bottom-right;
}

.active {
  padding: 10%;
  border-radius: 50%;
  background-color: var(--activePlayerColor);
}
