.tile {
  border-radius: 20%;
  filter: drop-shadow(13px 11px 1px rgba(0, 0, 0, 0.25));
  width: 7vmin;
  height: 7vmin;
  margin: auto;
}

.tile:before {
  content: '';
  padding-bottom: 100%;
}

.tile:hover {
  animation: tileHover 0.5s ease-in-out infinite alternate;
}

@keyframes tileHover {
  100% {
    transform: translateY(-10%);
    filter: drop-shadow(17px 14px 3px rgba(0, 0, 0, 0.25));
  }
}

.tile-style-0 {
  @extend .tile;
  background-color: var(--tileColor0);
}

.tile-style-1 {
  @extend .tile;
  background-color: var(--tileColor1);
}
.rosette {
  @extend .tile;
  background-color: var(--rosetteColor);
  border-radius: 0%;
}

.goal {
  @extend .tile;
  visibility: hidden;
}

.highlighted {
  animation: highlight 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes highlight {
  from {
  }
  to {
    visibility: visible;
    background-color: white;
  }
}
