.token {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  filter: drop-shadow(6px 4px 0px rgba(0, 0, 0, 0.25));
}

.player-0-token {
  @extend .token;
  background-color: var(--player0Color);
}

.player-1-token {
  @extend .token;
  background-color: var(--player1Color);
}

.player-null-token {
  @extend .token;
}
